.highlight
{
    background-color: #ffee00;
}

.navbar-style
{
    background-color: rgb(74, 117, 235) !important;
}
.green-highlight
{
    color: #008000;
    font-size: 40px;
}
.red-highlight
{
    color: #ff0000;
    font-size: 25px;
    
}
.hand-icon{
    cursor: pointer;
}